<!DOCTYPE html>
<% if logged_in? %>
  <div class="row">
    <%= render 'loggedin' %>
  </div>
<% else %>
  <div class="center jumbotron">
    <%= render 'notloggedin' %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
<% end %>
<%#= link_to image_tag("kitten.jpg", alt: "Kitten"),
                        'http://rubyonrails.org/' %>
